In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.linear_model import LinearRegression

sns.set_style('whitegrid')
%matplotlib inline

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston = load_boston()

In [4]:
boston_df = DataFrame(boston.data)
boston_df.columns = boston.feature_names
boston_df.head(4)

boston_df['Price'] = boston.target
boston_df.head(4)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4

In [5]:
######################################################################################################
######################################################################################################
######################################################################################################

# Sem train and sem test values

In [6]:
import sklearn
from sklearn.linear_model import LinearRegression

In [7]:
X_multi = boston_df.drop('Price',1)
# 13 variables
Y_target = boston_df.Price

In [9]:
Y_target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [8]:
model = LinearRegression()
model.fit(X_multi,Y_target)

LinearRegression()

In [9]:
predictions = model.predict(X_multi).dtype
predictions = model.predict(X_multi)
predictions

array([30.00384338, 25.02556238, 30.56759672, 28.60703649, 27.94352423,
       25.25628446, 23.00180827, 19.53598843, 11.52363685, 18.92026211,
       18.99949651, 21.58679568, 20.90652153, 19.55290281, 19.28348205,
       19.29748321, 20.52750979, 16.91140135, 16.17801106, 18.40613603,
       12.52385753, 17.67103669, 15.83288129, 13.80628535, 15.67833832,
       13.38668561, 15.46397655, 14.70847428, 19.54737285, 20.8764282 ,
       11.45511759, 18.05923295,  8.81105736, 14.28275814, 13.70675891,
       23.81463526, 22.34193708, 23.10891142, 22.91502612, 31.35762569,
       34.21510225, 28.02056414, 25.20386628, 24.60979273, 22.94149176,
       22.09669817, 20.42320032, 18.03655088,  9.10655377, 17.20607751,
       21.28152535, 23.97222285, 27.6558508 , 24.04901809, 15.3618477 ,
       31.15264947, 24.85686978, 33.10919806, 21.77537987, 21.08493555,
       17.8725804 , 18.51110208, 23.98742856, 22.55408869, 23.37308644,
       30.36148358, 25.53056512, 21.11338564, 17.42153786, 20.78483633,
       25.20148859, 21.7426577 , 24.55744957, 24.04295712, 25.50499716,
       23.9669302 , 22.94545403, 23.35699818, 21.26198266, 22.42817373,
       28.40576968, 26.99486086, 26.03576297, 25.05873482, 24.78456674,
       27.79049195, 22.16853423, 25.89276415, 30.67461827, 30.83110623,
       27.1190194 , 27.41266734, 28.94122762, 29.08105546, 27.03977365,
       28.62459949, 24.72744978, 35.78159518, 35.11454587, 32.25102801,
       24.58022019, 25.59413475, 19.79013684, 20.31167129, 21.43482591,
       18.53994008, 17.18755992, 20.75049026, 22.64829115, 19.7720367 ,
       20.64965864, 26.52586744, 20.77323638, 20.71548315, 25.17208881,
       20.43025591, 23.37724626, 23.69043261, 20.33578364, 20.79180873,
       21.91632071, 22.47107777, 20.55738556, 16.36661977, 20.56099819,
       22.48178446, 14.61706633, 15.17876684, 18.93868592, 14.05573285,
       20.03527399, 19.41013402, 20.06191566, 15.75807673, 13.25645238,
       17.26277735, 15.87841883, 19.36163954, 13.81483897, 16.44881475,
       13.57141932,  3.98885508, 14.59495478, 12.1488148 ,  8.72822362,
       12.03585343, 15.82082058,  8.5149902 ,  9.71844139, 14.80451374,
       20.83858153, 18.30101169, 20.12282558, 17.28601894, 22.36600228,
       20.10375923, 13.62125891, 33.25982697, 29.03017268, 25.56752769,
       32.70827666, 36.77467015, 40.55765844, 41.84728168, 24.78867379,
       25.37889238, 37.20347455, 23.08748747, 26.40273955, 26.65382114,
       22.5551466 , 24.29082812, 22.97657219, 29.07194308, 26.5219434 ,
       30.72209056, 25.61669307, 29.13740979, 31.43571968, 32.92231568,
       34.72440464, 27.76552111, 33.88787321, 30.99238036, 22.71820008,
       24.7664781 , 35.88497226, 33.42476722, 32.41199147, 34.51509949,
       30.76109485, 30.28934141, 32.91918714, 32.11260771, 31.55871004,
       40.84555721, 36.12770079, 32.6692081 , 34.70469116, 30.09345162,
       30.64393906, 29.28719501, 37.07148392, 42.03193124, 43.18949844,
       22.69034796, 23.68284712, 17.85447214, 23.49428992, 17.00587718,
       22.39251096, 17.06042754, 22.73892921, 25.21942554, 11.11916737,
       24.51049148, 26.60334775, 28.35518713, 24.91525464, 29.68652768,
       33.18419746, 23.77456656, 32.14051958, 29.7458199 , 38.37102453,
       39.81461867, 37.58605755, 32.3995325 , 35.45665242, 31.23411512,
       24.48449227, 33.28837292, 38.0481048 , 37.16328631, 31.71383523,
       25.26705571, 30.10010745, 32.71987156, 28.42717057, 28.42940678,
       27.29375938, 23.74262478, 24.12007891, 27.40208414, 16.3285756 ,
       13.39891261, 20.01638775, 19.86184428, 21.2883131 , 24.0798915 ,
       24.20633547, 25.04215821, 24.91964007, 29.94563374, 23.97228316,
       21.69580887, 37.51109239, 43.30239043, 36.48361421, 34.98988594,
       34.81211508, 37.16631331, 40.98928501, 34.44634089, 35.83397547,
       28.245743  , 31.22673593, 40.8395575 , 39.31792393, 25.70817905,
       22.30295533, 27.20340972, 28.51169472, 35.47676598, 36.10639164,
       33.79668274, 35.61085858, 34.83993382, 30.35192656, 35.30980701,
       38.79756966, 34.33123186, 40.33963075, 44.67308339, 31.59689086,
       27.3565923 , 20.10174154, 27.04206674, 27.2136458 , 26.91395839,
       33.43563311, 34.40349633, 31.8333982 , 25.81783237, 24.42982348,
       28.45764337, 27.36266999, 19.53928758, 29.11309844, 31.91054611,
       30.77159449, 28.94275871, 28.88191022, 32.79887232, 33.20905456,
       30.76831792, 35.56226857, 32.70905124, 28.64244237, 23.58965827,
       18.54266897, 26.87889843, 23.28133979, 25.54580246, 25.48120057,
       20.53909901, 17.61572573, 18.37581686, 24.29070277, 21.32529039,
       24.88682244, 24.86937282, 22.86952447, 19.45123791, 25.11783401,
       24.66786913, 23.68076177, 19.34089616, 21.17418105, 24.25249073,
       21.59260894, 19.98446605, 23.33888   , 22.14060692, 21.55509929,
       20.61872907, 20.16097176, 19.28490387, 22.1667232 , 21.24965774,
       21.42939305, 30.32788796, 22.04734975, 27.70647912, 28.54794117,
       16.54501121, 14.78359641, 25.27380082, 27.54205117, 22.14837562,
       20.45944095, 20.54605423, 16.88063827, 25.40253506, 14.32486632,
       16.59488462, 19.63704691, 22.71806607, 22.20218887, 19.20548057,
       22.66616105, 18.93192618, 18.22846804, 20.23150811, 37.4944739 ,
       14.28190734, 15.54286248, 10.83162324, 23.80072902, 32.6440736 ,
       34.60684042, 24.94331333, 25.9998091 ,  6.126325  ,  0.77779806,
       25.30713064, 17.74061065, 20.23274414, 15.83331301, 16.83512587,
       14.36994825, 18.47682833, 13.4276828 , 13.06177512,  3.27918116,
        8.06022171,  6.12842196,  5.6186481 ,  6.4519857 , 14.20764735,
       17.21225183, 17.29887265,  9.89116643, 20.22124193, 17.94181175,
       20.30445783, 19.29559075, 16.33632779,  6.55162319, 10.89016778,
       11.88145871, 17.81174507, 18.26126587, 12.97948781,  7.37816361,
        8.21115861,  8.06626193, 19.98294786, 13.70756369, 19.85268454,
       15.22308298, 16.96071981,  1.71851807, 11.80578387, -4.28131071,
        9.58376737, 13.36660811,  6.89562363,  6.14779852, 14.60661794,
       19.6000267 , 18.12427476, 18.52177132, 13.1752861 , 14.62617624,
        9.92374976, 16.34590647, 14.07519426, 14.25756243, 13.04234787,
       18.15955693, 18.69554354, 21.527283  , 17.03141861, 15.96090435,
       13.36141611, 14.52079384,  8.81976005,  4.86751102, 13.06591313,
       12.70609699, 17.29558059, 18.740485  , 18.05901029, 11.51474683,
       11.97400359, 17.68344618, 18.12695239, 17.5183465 , 17.22742507,
       16.52271631, 19.41291095, 18.58215236, 22.48944791, 15.28000133,
       15.82089335, 12.68725581, 12.8763379 , 17.18668531, 18.51247609,
       19.04860533, 20.17208927, 19.7740732 , 22.42940768, 20.31911854,
       17.88616253, 14.37478523, 16.94776851, 16.98405762, 18.58838397,
       20.16719441, 22.97718032, 22.45580726, 25.57824627, 16.39147632,
       16.1114628 , 20.534816  , 11.54272738, 19.20496304, 21.86276391,
       23.46878866, 27.09887315, 28.56994302, 21.08398783, 19.45516196,
       22.22225914, 19.65591961, 21.32536104, 11.85583717,  8.22386687,
        3.66399672, 13.75908538, 15.93118545, 20.62662054, 20.61249414,
       16.88541964, 14.01320787, 19.10854144, 21.29805174, 18.45498841,
       20.46870847, 23.53334055, 22.37571892, 27.6274261 , 26.12796681,
       22.34421229])

In [10]:
coefficient_y = model.intercept_
coefficient_y
# Axis independent

36.459488385089855

In [11]:
coefficient_x = model.coef_
coefficient_x
# Angular coefficient

array([-1.08011358e-01,  4.64204584e-02,  2.05586264e-02,  2.68673382e+00,
       -1.77666112e+01,  3.80986521e+00,  6.92224640e-04, -1.47556685e+00,
        3.06049479e-01, -1.23345939e-02, -9.52747232e-01,  9.31168327e-03,
       -5.24758378e-01])

In [12]:
coeff_df = DataFrame(boston_df.columns)
coeff_df 

coeff_df.columns = ['Features']

coeff_df['Coeffcient Estimate'] = Series(model.coef_)

coeff_df

   Features  Coeffcient Estimate
0      CRIM            -0.108011
1        ZN             0.046420
2     INDUS             0.020559
3      CHAS             2.686734
4       NOX           -17.766611
5        RM             3.809865
6       AGE             0.000692
7       DIS            -1.475567
8       RAD             0.306049
9       TAX            -0.012335
10  PTRATIO            -0.952747
11        B             0.009312
12    LSTAT            -0.524758
13    Price                  NaN

In [13]:
######################################################################################################
######################################################################################################
######################################################################################################

# Train and Test values

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_multi ,Y_target, test_size=0.2, random_state=101)

In [27]:
print(len(X_train))
print(len(X_test))

print(len(y_train))
print(len(y_test))

404
102
404
102

In [28]:
X_train.shape

(404, 13)

In [29]:
y_train.shape

(404,)

In [30]:
X_multi.shape

(506, 13)

In [31]:
Y_target.shape

(506,)

In [32]:
X_multi = boston_df.drop('Price',1)
X_multi

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [33]:
Y_target = boston_df.Price
Y_target

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: Price, Length: 506, dtype: float64

In [34]:
X_multi = boston_df.drop('Price',1)
# 13 variables

Y_target = boston_df.Price

In [35]:
my_model = LinearRegression()

my_model.fit(X_train ,y_train)

LinearRegression()

In [36]:
my_model.predict(X_test)

array([40.38909533, 27.88818526, 16.33126585, 17.34675932, 30.91273758,
       32.82478967, 39.95560959,  8.4519632 , 33.28696607,  7.26751237,
       29.77875241, 13.70647921, 16.10840816, 16.65150567, 25.03371365,
       19.89032014,  6.79501283, 32.9949698 , 28.45233055, 24.72790211,
       12.81760374, 20.2792643 , 22.37316895, 24.95238223, 34.01786165,
       19.10866644, 31.80654265, 19.09506858, 26.40103588, 34.13083397,
       19.66337036, 18.24445944, 36.99113563, 44.48687324, 30.72146569,
       22.31475986, 16.17389267, 17.91169858,  4.80466972, 30.60025057,
       23.92860043, 16.46250167, 35.26168512, 13.85353888, 17.81678796,
       25.33703575, 30.79303765, 16.47025922, 26.65460208, 23.15784888,
       32.62443559, 38.6798773 , 22.21243126, 15.78598365, 30.5359631 ,
       -0.25281891, 20.07283762, 16.83546069, 22.54691328, 20.67388019,
       30.46894504,  3.38104287, 13.94720253, 19.46240302, 10.03614762,
       24.67738776, 24.20357095, 19.43161581, 18.3602221 , 19.03214775,
       23.51782959, 21.46583705, 22.95054775, 20.27686985, 26.96179652,
       20.98178081, 36.98962623,  7.9221635 , 28.62794502, 17.70372744,
       15.41112087, 19.85030432, 30.52360804, 18.10060395, 10.42320828,
       21.52678804, 21.7854301 , 33.01798147, 22.60528498, 21.71235376,
       13.03975332, 11.86733636, 23.02340716, 34.06739362,  6.21989415,
       35.86658576,  8.04158025, 32.19506854,  8.39224379, 20.46209564,
       33.17734708, 21.31960208])

In [38]:
Y_0 = my_model.predict(X_test)
Y_0

array([40.38909533, 27.88818526, 16.33126585, 17.34675932, 30.91273758,
       32.82478967, 39.95560959,  8.4519632 , 33.28696607,  7.26751237,
       29.77875241, 13.70647921, 16.10840816, 16.65150567, 25.03371365,
       19.89032014,  6.79501283, 32.9949698 , 28.45233055, 24.72790211,
       12.81760374, 20.2792643 , 22.37316895, 24.95238223, 34.01786165,
       19.10866644, 31.80654265, 19.09506858, 26.40103588, 34.13083397,
       19.66337036, 18.24445944, 36.99113563, 44.48687324, 30.72146569,
       22.31475986, 16.17389267, 17.91169858,  4.80466972, 30.60025057,
       23.92860043, 16.46250167, 35.26168512, 13.85353888, 17.81678796,
       25.33703575, 30.79303765, 16.47025922, 26.65460208, 23.15784888,
       32.62443559, 38.6798773 , 22.21243126, 15.78598365, 30.5359631 ,
       -0.25281891, 20.07283762, 16.83546069, 22.54691328, 20.67388019,
       30.46894504,  3.38104287, 13.94720253, 19.46240302, 10.03614762,
       24.67738776, 24.20357095, 19.43161581, 18.3602221 , 19.03214775,
       23.51782959, 21.46583705, 22.95054775, 20.27686985, 26.96179652,
       20.98178081, 36.98962623,  7.9221635 , 28.62794502, 17.70372744,
       15.41112087, 19.85030432, 30.52360804, 18.10060395, 10.42320828,
       21.52678804, 21.7854301 , 33.01798147, 22.60528498, 21.71235376,
       13.03975332, 11.86733636, 23.02340716, 34.06739362,  6.21989415,
       35.86658576,  8.04158025, 32.19506854,  8.39224379, 20.46209564,
       33.17734708, 21.31960208])

In [20]:
my_model.intercept_

32.90613090863722

In [21]:
my_model.coef_

array([-9.89913563e-02,  4.25047578e-02,  1.67390094e-02,  3.06437882e+00,
       -1.56462528e+01,  4.01888422e+00, -8.31558474e-04, -1.44628034e+00,
        2.67827281e-01, -1.04725485e-02, -8.88651815e-01,  8.25262805e-03,
       -5.49367192e-01])

In [22]:
r2_score = my_model.score(X_test,y_test)
print(r2_score*100,'%')

70.34623076515885 %

In [23]:
######################################################################################################
######################################################################################################
######################################################################################################

In [53]:
height = [172,187,153,183,173,173,176,173,160,175,182,165,165,170,170,159,195,162,166,172,168]
weight = [62,98,70,90,68,53,52,56,50,87,10,72,68,80,59,63,12,53,63,65,67]
sex = ['Male','Male','Female','Male','Female','Female','Female','Female','Female','Male','Male','Male','Male','Male','Female','Female','Male','Male','Male','Female','Female']
sex = [0,0,1,0,1,1,1,1,1,0,0,0,0,0,1,1,0,0,0,1,1]

In [54]:
# https://medium.com/@diegosantosseabra/scikit-learn-python-linear-regression-predicting-the-sex-of-a-person-df72700a0732

In [55]:
# https://towardsdatascience.com/linear-regression-in-real-life-4a78d7159f16

In [58]:
df = pd.read_csv('People_Data.csv', index_col=0)
df

    height  weight  sex
0      172      62    0
1      187      98    0
2      153      70    1
3      183      90    0
4      173      68    1
5      173      53    1
6      176      52    1
7      173      56    1
8      160      50    1
9      175      87    0
10     182      10    0
11     165      72    0
12     165      68    0
13     170      80    0
14     170      59    1
15     159      63    1
16     195      12    0
17     162      53    0
18     166      63    0
19     172      65    1
20     168      67    1

In [59]:
X = df[['weight', 'height']]
Y = df[['sex']]

In [87]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X ,Y, test_size=0.3, random_state=101)

In [88]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [89]:
predictions = model.predict(X_test)

In [90]:
r2_score = model.score(X_test,y_test)
print(r2_score*100,'%')

34.13510479659298 %

In [95]:
myvals = np.array([94, 182]).reshape(1, -1)
print(model.predict(myvals)) 

# The more close to 0, the more is a Male
# The more close to 1, the more is a Female

[[0.18185029]]

In [42]:
######################################################################################################

In [43]:
from sklearn import metrics

In [ ]:
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))